.container {
  height: 10em;
  display: grid;
  align-items: center;
  justify-content: center;
}

.form-group {

}
#description {
  font-size: 20px;
  font-weight: 200;
  font-style: italic;
}
